YOUTUBE_API_KEY=dummy
TWOGIS_API_KEY=37c04fe6-a560-4549-b459-02309cf643ad

DB_USER=wallet_user
DB_PASSWORD=wallet_password
DB_NAME=parser_microservice
DB_HOST=localhost
DB_PORT=5432

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_BEAT_PARSE_INTERVAL_MINUTES=1

PGADMIN_DEFAULT_EMAIL=admin@wallet.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_SERVER_MODE=False
