{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if show_sync_parse_button and original %}
        <li>
            <form method="post" action="{% url 'admin:common_parser_branchprovider_parse_sync' original.pk %}">
                {% csrf_token %}
                <button type="submit" class="historylink" onclick="return confirm('Запустить синхронный парсинг?');">
                    Запустить без Celery
                </button>
            </form>
        </li>
    {% endif %}
{% endblock %}
